.u-section-1-1 .u-sheet-1 {
  min-height: 1582px;
}
.u-section-2 .u-text-77 {
    margin:20px 170px 0 200px;
}
.u-section-2 .u-text-78 {
    margin:20px 170px 0 200px;
}
.u-section-2 .u-text-79 {
    margin:20px 170px 0 200px;
}
.u-section-2 .u-text-80 {
    margin:20px 170px 0 200px;
}
.u-section-1-1 .u-shape-1 {
  height: 381px;
  width: 958px;
  margin: 0 0 0 auto;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 1053px;
  margin: -309px auto 0 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 832px;
  background-image: url("images/-min1.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 832px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-family: Kalam;
  margin: 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-family: Kalam;
  margin: 0;
}

.u-section-1-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.375rem;
  margin: 6px 0 0;
}

.u-section-1-1 .u-table-1 {
  width: 358px;
  margin: 13px auto 0 -26px;
}

.u-section-1-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1-1 .u-table-cell-1 {
  font-size: 2.25rem;
}

.u-section-1-1 .u-table-cell-2 {
  font-size: 2.25rem;
}

.u-section-1-1 .u-table-cell-4 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1-1 .u-group-1 {
  width: 506px;
  min-height: 386px;
  height: auto;
  margin: -64px auto 0 -59px;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 30px 45px 3px;
}

.u-section-1-1 .u-group-2 {
  width: 518px;
  min-height: 380px;
  height: auto;
  margin: -332px auto 0 0;
}

.u-section-1-1 .u-container-layout-4 {
  padding: 30px 45px 3px;
}

.u-section-1-1 .u-text-4 {
  margin: -7px 0 0;
}

.u-section-1-1 .u-text-5 {
  margin: 0 -20px 0 20px;
}

.u-section-1-1 .u-text-6 {
  margin: 10px -20px 0 20px;
}

.u-section-1-1 .u-text-7 {
  margin: 20px -20px 0 20px;
}

.u-section-1-1 .u-text-8 {
  margin: 20px -20px 0 20px;
}

.u-section-1-1 .u-text-9 {
  margin: 20px -20px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1493px;
  }

  .u-section-1-1 .u-shape-1 {
    width: 756px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 890px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 743px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 743px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1-1 .u-table-1 {
    width: 177px;
    margin-top: 177px;
    margin-right: -211px;
    margin-left: auto;
    height: 454px;
  }

  .u-section-1-1 .u-group-1 {
    width: 518px;
    margin-top: 507px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1-1 .u-group-2 {
    min-height: 328px;
    margin-top: -595px;
    margin-left: -49px;
    height: auto;
  }

  .u-section-1-1 .u-text-4 {
    margin-top: -30px;
    margin-left: 20px;
    margin-right: -20px;
  }

  .u-section-1-1 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-1-1 .u-text-6 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-1-1 .u-shape-1 {
    width: 596px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 692px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1-1 .u-group-1 {
    width: 307px;
    margin-top: 107px;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-1 .u-group-2 {
    width: 307px;
    margin-top: -636px;
  }

  .u-section-1-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1676px;
  }

  .u-section-1-1 .u-shape-1 {
    height: 260px;
    margin-top: 293px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -221px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 531px;
    order: 1;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: 109px;
  }

  .u-section-1-1 .u-group-2 {
    margin-top: -638px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-1-1 .u-shape-1 {
    margin-top: 180px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 307px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 448px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1-1 .u-group-1 {
    width: 271px;
    margin-top: 73px;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1-1 .u-group-2 {
    width: 271px;
    margin-top: -614px;
    margin-left: 0;
  }

  .u-section-1-1 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-block-3838-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3838-3 {
  position: absolute;
  left: 0;
}

.u-block-3838-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 692px;
}

.u-section-2 .u-slider-1 {
  width: 651px;
  min-height: 573px;
  height: auto;
  margin: -857px 0 60px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 0%;
  width: 325px;
  height: 348px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px 170px 0 149px;
}

.u-section-2 .u-text-2 {
  margin: 15px 417px 0 22px;
}

.u-section-2 .u-text-3 {
  margin: -24px 212px 0 227px;
}

.u-section-2 .u-text-4 {
  margin: -24px 21px 0 418px;
}

.u-section-2 .u-text-5 {
  margin: 18px 319px 0 120px;
}

.u-section-2 .u-text-6 {
  margin: -24px 108px 0 331px;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 363px;
  height: 334px;
  margin: 0 auto 0 114px;
}

.u-section-2 .u-text-7 {
  margin: 20px 170px 0 149px;
}

.u-section-2 .u-text-8 {
  margin: 15px 417px 0 22px;
}

.u-section-2 .u-text-9 {
  margin: -24px 212px 0 227px;
}

.u-section-2 .u-text-10 {
  margin: -24px 21px 0 418px;
}

.u-section-2 .u-text-11 {
  margin: 18px 319px 0 120px;
}

.u-section-2 .u-text-12 {
  margin: -24px 108px 0 331px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-image-3 {
  height: 373px;
  object-position: 50% 0%;
  width: 310px;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  margin: 20px 149px 0 130px;
}

.u-section-2 .u-text-14 {
  margin: 15px 379px 0 20px;
}

.u-section-2 .u-text-15 {
  margin: -24px 193px 0 206px;
}

.u-section-2 .u-text-16 {
  margin: -24px 19px 0 380px;
}

.u-section-2 .u-text-17 {
  margin: 18px 290px 0 109px;
}

.u-section-2 .u-text-18 {
  margin: -24px 98px 0 301px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-2 .u-image-4 {
  height: 361px;
  object-position: 50% 0%;
  width: 268px;
  margin: 0 auto 0 141px;
}

.u-section-2 .u-text-19 {
  margin: 20px 149px 0 130px;
}

.u-section-2 .u-text-20 {
  margin: 15px 379px 0 20px;
}

.u-section-2 .u-text-21 {
  margin: -24px 193px 0 206px;
}

.u-section-2 .u-text-22 {
  margin: -24px 19px 0 380px;
}

.u-section-2 .u-text-23 {
  margin: 18px 290px 0 109px;
}

.u-section-2 .u-text-24 {
  margin: -24px 98px 0 301px;
}

.u-section-2 .u-carousel-control-1 {
  width: 71px;
  height: 71px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 71px;
  height: 71px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: 584px;
  }

  .u-section-2 .u-carousel-item-1 {
    background-position: 50% 0%;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 70px;
    margin-left: 128px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 239px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 112px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 219px;
    margin-left: 104px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 8px;
    margin-left: 277px;
  }

  .u-section-2 .u-carousel-item-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-7 {
    margin-right: 70px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 239px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 112px;
    margin-left: 127px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 239px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 219px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 8px;
    margin-left: 231px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 49px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 93px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
    margin-left: 199px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 190px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 0;
    margin-left: 199px;
  }

  .u-section-2 .u-image-4 {
    height: 362px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 49px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    margin-right: 93px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 0;
    margin-left: 199px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 190px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 0;
    margin-left: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 518px;
    min-height: 548px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 109px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 19px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 2px;
    margin-left: 157px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 274px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 19px;
    margin-left: 91px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 2px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 3px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 19px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 3px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-2 .u-text-24 {
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    min-height: 519px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-indicators-1 {
    width: 72px;
    height: 3px;
    top: auto;
    bottom: 94px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 150px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 89px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 188px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 280px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 238px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
  }

  .u-section-2 .u-text-23 {
    margin-right: 0;
  }

  .u-section-2 .u-text-24 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    min-height: 423px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 342px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 63px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 26px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 87px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 143px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 55px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 117px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 294px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    margin-left: 52px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 554px;
}.u-section-4 .u-sheet-1 {
  min-height: 767px;
}